.about-complex-title {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.18em;
  text-transform: uppercase;
  color: #484848;
}

.about-complex-top-text {
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #121212;
}

.about-complex-text {
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #121212;
}

.about-complex-bottom-text {
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #121212;
}
