.about-complex{
    background-color: #D8D8D8;
}
.about-complex-title {
  font-weight: 400;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.18em;
  text-transform: uppercase;
  color: #484848;
}

.about-complex-top-text {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(18 / 14);
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #121212;
}

.about-complex-text {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(18 / 14);
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #121212;
}

.about-complex-bottom-text {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(18 / 14);
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #121212;
}

