.footer {
  position: relative;
  padding-top: 24px;
  padding-bottom: 64px;

  background-color: var(--main-white-color);
}

.footer::after {
  content: '';
  position: absolute;
  width: 100%;
  bottom: 32px;

  border-bottom: 0.5px solid rgba(18, 18, 18, 0.3);
}

.footer > .container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.footer-logo-link > span {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.18em;
  text-transform: uppercase;
  color: var(--main-black-color);
}

.footer-logo-link {
  display: flex;
  flex-direction: column;
  row-gap: 3px;

  font-size: 8px;
  line-height: 1.25;
  letter-spacing: 0.18em;
  text-transform: uppercase;
  color: var(--main-black-color);
}

.footer-list {
  display: flex;
  column-gap: 14px;
}

.footer-icon {
  fill: var(--main-black-color);
}
