<footer class="container">
  <a class="footer-logo-link link" href="../index.html"
    ><span>Mimino</span>restaurant-hotel complex</a
  >
  <ul class="footer-icon-list list">
    <li class="footer-item">
      <a href="" class="footer-icon-link" target="_blank">
        <svg class="footer-icon" width="20" height="20">
          <use href="../images/sprite/icons.svg#icon-instagram"></use>
        </svg>
      </a>
    </li>
    <li class="footer-item">
      <a href="" class="footer-icon-link" target="_blank">
        <svg class="footer-icon" width="20" height="20">
          <use href="../images/sprite/icons.svg#icon-twitter"></use>
        </svg>
      </a>
    </li>
    <li class="footer-item">
      <a href="" class="footer-icon-link" target="_blank">
        <svg class="footer-icon" width="20" height="20">
          <use href="../images/sprite/icons.svg#icon-facebook"></use>
        </svg>
      </a>
    </li>
  </ul>
</footer>
