<footer class="container">
  <div class="footer-logo-container">
    <h2 class="footer-logo">
      <a href="../index.html" class="footer-logo-link link">Mimino</a>
    </h2>
    <p class="footer-description">restaurant-hotel complex</p>
  </div>
  <ul class="footer-icon-list list">
    <li class="footer-item">
      <a href="" class="footer-icon-link" target="_blank">
        <svg class="footer-icon" width="20" height="20">
          <use href="../images/sprite/icons.svg#icon-instagram"></use>
        </svg>
      </a>
    </li>
    <li class="footer-item">
      <a href="" class="footer-icon-link" target="_blank">
        <svg class="footer-icon" width="20" height="20">
          <use href="../images/sprite/icons.svg#icon-twitter"></use>
        </svg>
      </a>
    </li>
    <li class="footer-item">
      <a href="" class="footer-icon-link" target="_blank">
        <svg class="footer-icon" width="20" height="20">
          <use href="../images/sprite/icons.svg#icon-facebook"></use>
        </svg>
      </a>
    </li>
  </ul>
</footer>
