<section class="location-contacts">
  <div class="container">
    <h2 class="location-contacts-title">location</h2>
    <img
      src="../images/location-contacts/location-contacts-map-mobile@1x.jpg"
      alt="map"
      width="335"
      height="384"
    />
    <address class="address">
      Ukraine, Poltava,<br />
      St. Marshal Biryuzov, 15
      <p class="address-list-subtitle">call us:</p>
      <ul class="address-list list">
        <li class="address-item-tel">(095) 555 95 33</li>
        <li class="address-item-tel">(066) 849 10 89</li>
      </ul>
    </address>
  </div>
</section>
